In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
search = input("검색할 키워드를 입력해주세요. : ")

검색할 키워드를 입력해주세요. :  엘라스틱

In [3]:
news_num = int(input('총 필요한 뉴스기사 수를 입력해주세요.(한 페이지 당 뉴스 10개 검색, 2선택시 20개 뉴스기사, 숫자만 검색) : '))

총 필요한 뉴스기사 수를 입력해주세요.(한 페이지 당 뉴스 10개 검색, 2선택시 20개 뉴스기사, 숫자만 검색) :  4

In [4]:
import datetime
now = datetime.datetime.now()
nowDatetime = now.strftime('%Y.%m.%d.%H.%M')
nowDate = now.strftime('%Y.%m.%d')
print(nowDatetime) 
print(nowDate)

2021.11.17.17.05
2021.11.17

In [5]:
from datetime import datetime, timedelta
deforeDatetime = now - timedelta(days=1)
deforeDatetime = deforeDatetime.strftime('%Y.%m.%d.%H.%M')
print(deforeDatetime)  # 2015-04-19 12:11:32

2021.11.16.17.05

In [6]:
response1 = 'https://search.naver.com/search.naver?where=news&sm=tab_jum&query='+ search
response2= '&sort=0&photo=0&field=0&pd=4&ds=' + nowDatetime + '&de=' + deforeDatetime + '&cluster_rank=27&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:1d,a:all&start='
postNum = 1

In [7]:
title_list = []
url_list = []
comp_list = []
thumbnail_list = []
text_list = []
day_list = []

In [8]:
for i in range(news_num): #몇 페이지 까지 불러올지 
    #response = response1+parse.quote_plus(search)+response2+str(postNum)
    response = requests.get(response1+response2+str(postNum))

    html = response.text

    soup = BeautifulSoup(html, 'html.parser')

    articles = soup.select('#main_pack > section > div > div.group_news > ul > li')
    
    postNum = postNum+10


    for article in articles:
        a_tag1 = article.select_one('.news_tit')


        title = a_tag1.text
        title_list.append(title.strip())

        url = a_tag1['href']
        url_list.append(url.strip())

        comp = article.select_one('a.info.press').text
        comp = comp.replace('언론사 선정', '')
        comp_list.append(comp.strip())

        try:
            thumbnail = article.select_one('div > a > img')['src']
            thumbnail_list.append(thumbnail.strip())

        except:
            thumbnail_list.append('https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F366%2F2021%2F09%2F23%2F762207.jpg&type=ff264_180&expire=2&refresh=true')
    #         print('썸네일이 없습니다')

        text = article.select_one('a.api_txt_lines.dsc_txt_wrap').text
        text_list.append(text.strip())
        
        day_list.append(nowDate)
        

        print(title, url, comp, thumbnail, text, nowDate)

AWS "스타트업 비즈니스, AWS의 AI‧ML 서비스로 혁신하라" http://www.itdaily.kr/news/articleView.html?idxno=205123 아이티데일리 https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F5046%2F2021%2F11%2F17%2F88958.jpg&type=ofullfill264_180_gray&expire=2&refresh=true 인스턴스', '엘라스틱 인퍼런스' 등이 적합하다고 소개했다. 와디즈가 활용하고 있는 AWS의 AI 서비스 한편, 이날 간담회에는 AWS의 스타트업 대표 고객인 와디즈와 무신사의 사례도 소개됐다. 와디즈는 프로젝트가... 2021.11.17

In [9]:
print(title_list, url_list, comp_list, thumbnail_list, text_list, day_list)

['AWS "스타트업 비즈니스, AWS의 AI‧ML 서비스로 혁신하라"'] ['http://www.itdaily.kr/news/articleView.html?idxno=205123'] ['아이티데일리'] ['https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F5046%2F2021%2F11%2F17%2F88958.jpg&type=ofullfill264_180_gray&expire=2&refresh=true'] ["인스턴스', '엘라스틱 인퍼런스' 등이 적합하다고 소개했다. 와디즈가 활용하고 있는 AWS의 AI 서비스 한편, 이날 간담회에는 AWS의 스타트업 대표 고객인 와디즈와 무신사의 사례도 소개됐다. 와디즈는 프로젝트가..."] ['2021.11.17']

In [10]:
info = {'제목':title_list, 'url':url_list, '언론사':comp_list, '썸네일':thumbnail_list, '내용':text_list, '수집 날짜':day_list}

In [11]:
info

{'제목': ['AWS "스타트업 비즈니스, AWS의 AI‧ML 서비스로 혁신하라"'],
 'url': ['http://www.itdaily.kr/news/articleView.html?idxno=205123'],
 '언론사': ['아이티데일리'],
 '썸네일': ['https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F5046%2F2021%2F11%2F17%2F88958.jpg&type=ofullfill264_180_gray&expire=2&refresh=true'],
 '내용': ["인스턴스', '엘라스틱 인퍼런스' 등이 적합하다고 소개했다. 와디즈가 활용하고 있는 AWS의 AI 서비스 한편, 이날 간담회에는 AWS의 스타트업 대표 고객인 와디즈와 무신사의 사례도 소개됐다. 와디즈는 프로젝트가..."],
 '수집 날짜': ['2021.11.17']}

In [12]:
news = pd.DataFrame(info)

In [13]:
(news.제목[0])

'AWS "스타트업 비즈니스, AWS의 AI‧ML 서비스로 혁신하라"'

## 날짜 함수 연습

In [11]:
import datetime
now = datetime.datetime.now()
print(now)

2021-11-17 16:35:14.121840

In [15]:
import time
now = time.localtime()
print("%04d.%02d.%02d.%02d.%02d" % (now.tm_year, now.tm_mon, now.tm_mday, now.tm_hour, now.tm_min))

2021.11.17.16.38

In [17]:
import time
now = time.localtime()
print("%04d.%02d.%02d.%02d.%02d" % (now.tm_year, now.tm_mon, now.tm_mday-1, now.tm_hour, now.tm_min))

2021.11.16.16.40

In [18]:
import datetime
 
now = datetime.datetime.now()
print(now)          # 2015-04-19 12:11:32.669083
 
nowDate = now.strftime('%Y-%m-%d')
print(nowDate)      # 2015-04-19
 
nowTime = now.strftime('%H:%M:%S')
print(nowTime)      # 12:11:32
 
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print(nowDatetime)  # 2015-04-19 12:11:32

2021-11-17 16:40:52.314112
2021-11-17
16:40:52
2021-11-17 16:40:52

In [19]:
import datetime
nowDatetime = now.strftime('%Y.%m.%d.%H.%M')
print(nowDatetime)  # 2015-04-19 12:11:32

2021.11.17.16.40

In [27]:
type(nowDatetime)

str

In [25]:
from datetime import datetime, timedelta
deforeDatetime = now - timedelta(days=1)
deforeDatetime = deforeDatetime.strftime('%Y.%m.%d.%H.%M')
print(deforeDatetime)  # 2015-04-19 12:11:32

2021.11.16.16.40

## 네이버뉴스 하루단위만 뜨게 하는 코드

In [ ]:
#https://search.naver.com/search.naver?where=news&sm=tab_pge&query='몽타'&sort=0&photo=0&field=0&pd=4&ds=2021.11.16.16.28&de=2021.11.17.16.28&cluster_rank=27&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:1d,a:all